In [1]:
# Import dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, inspect, text
from sqlalchemy.ext.automap import automap_base
import psycopg2

In [2]:
#connect to database crowdfunding_db and check tables names
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/crowdfunding_db')
conn = engine.connect()
Base = automap_base()
Base.prepare(engine, reflect=True)
inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['contacts', 'campaign', 'category', 'subcategory']

In [3]:
#check data types in each tables
for table in table_names:
    print(table, "\n")
    columns=inspector.get_columns(table)
    for column in columns:
        print(column['name'], column['type'])
    print("\n---------------------------------------\n")

contacts

contact_id INTEGER
first_name VARCHAR(50)
last_name VARCHAR(50)
email VARCHAR(100)

---------------------------------------

campaign

cf_id INTEGER
contact_id INTEGER
company_name VARCHAR(100)
description VARCHAR(100)
goal REAL
pledged REAL
outcome VARCHAR(20)
backers_count INTEGER
country VARCHAR(5)
currency VARCHAR(5)
launched_date DATE
end_date DATE
category_id VARCHAR(6)
subcategory_id VARCHAR(10)

---------------------------------------

category

category_id VARCHAR(5)
category VARCHAR(20)

---------------------------------------

subcategory

subcategory_id VARCHAR(10)
subcategory VARCHAR(20)

---------------------------------------

In [4]:
#import csv files and assign each to a dataframe
category_df_1 = pd.read_csv('Resources/category.csv')
subcategory_df_1 = pd.read_csv('Resources/subcategory.csv')
contacts_df_1 = pd.read_csv('Resources/contacts.csv')
campaign_df_1 = pd.read_csv('Resources/campaign.csv')

In [5]:
#assign data to category table in the database
category_df_1.to_sql("category", engine, if_exists='append', index=False)

9

In [6]:
#assign data to subcategory table in the database
subcategory_df_1.to_sql("subcategory", engine, if_exists='append', index=False)

24

In [7]:
#assign data to contacts table in the database
contacts_df_1.to_sql("contacts", engine, if_exists='append', index=False)

1000

In [8]:
#assign data to campaign table in the database
campaign_df_1.to_sql("campaign", engine, if_exists='append', index=False)

1000

In [10]:
#query all entries in the category table
entries_category_table = pd.read_sql("SELECT * FROM category", conn)

In [11]:
#preview and check records in the category table 
entries_category_table.head()

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video

In [12]:
#query all entries in the subcategory table
entries_subcategory_table = pd.read_sql("SELECT * FROM subcategory", conn)

In [13]:
#preview and check records in the subcategory table 
entries_subcategory_table.head()

  subcategory_id  subcategory
0        subcat1  food trucks
1        subcat2         rock
2        subcat3          web
3        subcat4        plays
4        subcat5  documentary

In [14]:
#query all entries in the contacts table
entries_contacts_table = pd.read_sql("SELECT * FROM contacts", conn)

In [15]:
#preview and check records in the contacts table
entries_contacts_table.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [16]:
#query all entries in the campaign table
entries_campaign_table= pd.read_sql("SELECT * FROM campaign", conn)

In [17]:
#preview and check records in the campaign table
entries_campaign_table.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,subcat2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,subcat3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,subcat2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,subcat4